<td><span class="btn btn-mini btn-warning edit" ><i class="icon-pencil icon-white"></i></span></td>
<td><span class="btn btn-mini btn-danger destroy"><i class="icon-trash icon-white"></i></span></td>
<td><%= date %></td>
<td><%= name %></td>
<td>$ <%= money %></td>
<td><%= gal %></td>
<td><%= km %></td>