
  <legend><%= model %> (<%= year %>)</legend>
  <table class="table table-bordered">
  	<tr>
  		<th>Model</th>
  		<td><%= model %></td>
  	</tr>
  	<tr>
  		<th>Mark</th>
  		<td><%= mark %></td>
  	</tr>
  	<tr>
  		<th>Year</th>
  		<td><%= year %></td>
  	</tr>
  	<tr>
  		<th>Color</th>
  		<td><%= color %></td>
  	</tr>
  </table>
  <a class="btn btn-warning" href="#cars/<%= id %>/edit"><i class="icon-pencil icon-white"></i> Edit</a>
  <a href="/#cars" class="btn">Back</a>